<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899779506718-f9s13v0l3t1va3mfiic3k2qaijt9a1s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899779506718-f9s13v0l3t1va3mfiic3k2qaijt9a1s4</string>
	<key>API_KEY</key>
	<string>AIzaSyDn8GeJ0jcVBJAfRMBfnTvyxlscnsfENj8</string>
	<key>GCM_SENDER_ID</key>
	<string>899779506718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gulaeats.app</string>
	<key>PROJECT_ID</key>
	<string>gulaeats</string>
	<key>STORAGE_BUCKET</key>
	<string>gulaeats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899779506718:ios:8e391d4b81b4a088a2b40f</string>
	<key>DATABASE_URL</key>
	<string>https://gulaeats.firebaseio.com</string>
</dict>
</plist>